@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Reenie+Beanie&display=swap');

/* --------------------------------------------------------------------------Body structure */

html, body {
    width: 100%; 
    height: 100%; 
    overflow-x: hidden;
}

/* --------------------------------------------------------------------------Body font styles */

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Reenie Beanie', cursive;
}

/* --------------------------------------------------------------------------Body color styles */

body {
    background-color: #7cc4a4;
}

h1, h2, h3, h4, h5, h6, p {
    color: #f2feff;
}

/* --------------------------------------------------------------------------Cover image section */

.cover-image {
    background: url(../images/main-image.webp) center center no-repeat;
    background: url(../images/main-image.jpg) center center no-repeat;
    background-size: cover;
    display: block;
}

/* --------------------------------------------------------------------------Welcome section */

.welcome {
    
    /*--Code taken from Conor Bailey's instructional Youtube video on how to place welcome text in front of the website--*/

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #7cc4a4;
    z-index: 200;
    text-align: center;

    /*--/Code taken from Conor Bailey's instructional Youtube video on how to place welcome text in front of the website--*/
}

#feeling {
    font-size: 110px;
    line-height: 90vh;
    font-family: 'Reenie Beanie', cursive;
}

@media screen and (max-width: 576px) {

    #feeling {
        font-size: 45px;
    }
    
}

.welcome.displayNone {
    
    /*--Code taken from Conor Bailey's instructional Youtube video on how to place welcome text in front of the website--*/

    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #7cc4a4;
    z-index: -10;
    text-align: center;
    transition: all 1s;

    /*--/Code taken from Conor Bailey's instructional Youtube video on how to place welcome text in front of the website--*/
}

/* --------------------------------------------------------------------------Header section */

.navbar-brand p {
    font-size: 85px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Reenie Beanie', cursive;
}

.nav-link h2 {
    padding-left: 30px;
    line-height: 200px;
}

.navbar-brand h1:hover, 
.nav-link h2:hover {
    color: #299cab;
}

.active {
    text-decoration: underline;
    color: #f2feff;
}

.active:hover {
    color: #f2feff;
}

.header-big {
    display: block;
}

.header-small {
    display: none;
}

/* Header section for smaller screens, collapse side navbar code taken from W3Schools */
@media screen and (max-width: 1200px) {

    .header-big {
        display: none;
    }
    
    .header-small {
        display: block;
    }
    
    .sideNavbar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #299cab;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
      
    .sideNavbar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f2feff;
        display: block;
        transition: 0.3s;
        font-family: 'Reenie Beanie', cursive;
    }
      
    .sideNavbar a:hover {
        color: #7cc4a4;
    }
      
    .sideNavbar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
      
    .openbtn {
        font-size: 50px;
        cursor: pointer;
        background-color: transparent;
        color: #f2feff;
        padding: 10px 15px;
        border: none;
    }
      
    .openbtn:hover {
        background-color: #299cab;
    }

    #header {
        transition: margin-left .5s;
        padding: 16px;
    }
      
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sideNavbar {padding-top: 15px;}
        .sideNavbar a {font-size: 18px;}
    }

}

@media screen and (max-width: 430px) {

    .navbar-brand p {
        font-size: 55px;
        margin-top: 20px;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        font-family: 'Reenie Beanie', cursive;
    }

}

/* --------------------------------------------------------------------------Footer section */

.footer {
    /* Got help from freeCodeCamp on how to keep the footer at the bottom of the page */
    position: relative;
    width: 100%;
    height: 7rem;
    margin-top: 100px;
    padding-top: 10px;
    /* /Got help from freeCodeCamp on how to keep the footer at the bottom of the page */
}

.created-socials i {
    color: #f2feff;
    margin: 3px;
    font-size: 20px;
}

.disclaimer {
    text-align: right;
}

.disclaimer a {
    color: #f2feff;
}

.footer i:hover {
    color: #299cab;
}

@media screen and (max-width: 600px) {

    .disclaimer-text {
        display: none;
    }

}

/* --------------------------------------------------------------------------Main section for all HTMLs */

.main {
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.08);
    width: 95%; /* Got code from StackOverflow on how to shorten the horizontal sides */
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto; /* Got code from StackOverflow on how to shorten the horizontal sides */
}

.main-header h3 {
    font-size: 60px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 430px) {

    .main-header h3 {
        font-size: 40px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

}
/* --------------------------------------------------------------------------Volume slider section */

#volume-nature-big, 
#volume-nature-small, 
#volume-travel-big, 
#volume-travel-small,
#volume-public-big,
#volume-public-small {
    width: 65%;
}

#volume-home-big,
#volume-home-small, 
#volume-weather-big,
#volume-weather-small {
    width: 40%;
}

.fa-volume-down, .fa-volume-up {
    font-size: 120%;
}

/* All the code relating to input type range is taken from CSS Portal, with color adjustments */

input[type=range] {
    height: 15px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #299cab;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #299cab;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #7cc4a4;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #299cab;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #299cab;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #299cab;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #299cab;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #299cab;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #299cab;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #299cab;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #299cab;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #299cab;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #299cab;
  }

@media screen and (max-width: 1200px) {

    #volume-nature-big,
    #volume-nature-small,
    #volume-travel-big, 
    #volume-travel-small,
    #volume-public-big,
    #volume-public-small {
        width: 45%;
    }

    #volume-home-big,
    #volume-home-small, 
    #volume-weather-big,
    #volume-weather-small {
        width: 30%;
    }

} 

@media screen and (max-width: 992px) {

    #volume-nature-big,
    #volume-nature-small,
    #volume-travel-big, 
    #volume-travel-small,
    #volume-public-big,
    #volume-public-small {
        width: 55%;
    }

    #volume-home-big,
    #volume-home-small, 
    #volume-weather-big,
    #volume-weather-small {
        width: 35%;
    }
    
    .fa-volume-down, .fa-volume-up {
        font-size: 100%;
    }

}

@media screen and (max-width: 594px) {

    #volume-nature-big,
    #volume-nature-small,
    #volume-travel-big, 
    #volume-travel-small,
    #volume-public-big,
    #volume-public-small,
    #volume-home-big,
    #volume-home-small, 
    #volume-weather-big,
    #volume-weather-small {
        width: 30%;
    }

}

@media screen and (max-width: 380px) {

    #volume-nature-big,
    #volume-nature-small,
    #volume-travel-big, 
    #volume-travel-small,
    #volume-public-big,
    #volume-public-small,
    #volume-home-big,
    #volume-home-small, 
    #volume-weather-big,
    #volume-weather-small{
        width: 35%;
    }
   

}

@media screen and (max-width: 330px) {

    #volume-nature-big,
    #volume-nature-small,
    #volume-travel-big, 
    #volume-travel-small,
    #volume-public-big,
    #volume-public-small,
    #volume-home-big,
    #volume-home-small, 
    #volume-weather-big,
    #volume-weather-small{
        width: 20%;
    }
    
    .fa-volume-down, .fa-volume-up {
        font-size: 100%;
    }

}

/* --------------------------------------------------------------------------Main Sounds section */

.main-sounds-big {
    display: block;
}

.main-sounds-small {
    display: none;
}

.main-sounds-big,
.main-sounds-small {
    color: #f2feff;
    margin-top: 60px;
    width: 50%;
    text-align: center;
}

.main-icon, .fa-pause {
    border: 2px solid #f2feff;
    /* Got help from W3Schools' CSS Borders on how to create soft and round edged borders */
    border-radius: 16px;
    /* /Got help from W3Schools' CSS Borders on how to create soft and round edged borders */
    margin: 5px;
    font-size: 80px;
}

.nature .fa-tree:hover, 
.travel .fa-subway:hover, 
.public .fa-utensils:hover, 
.home .fa-home:hover,
.weather .fa-cloud-sun-rain:hover {
    color: #299cab;
    border-color: #299cab;
}

.fa-plus,
.fa-minus {
    font-size: 20px;
}

.fa-step-backward ,
.fa-step-forward  {
    font-size: 30px;
}

@media screen and (max-width: 1500px) {

    .main-sounds {
        width: 60%;
    }

}

@media screen and (max-width: 1200px) {

    .main-sounds-big,
    .main-sounds-small {
        width: 95%;
    }

    .fa-step-backward,
    .fa-step-forward {
        font-size: 25px;
    }

}

@media screen and (max-width: 594px) {

    .main-sounds-big {
        display: none;
    }

    .main-sounds-small {
        display: block;
    }

    .fa-step-backward,
    .fa-step-forward {
        font-size: 20px;
    }

}




/* --------------------------------------------------------------------------Main Buttons section */

#randomBtn,
#resetBtn {
    width: 40%;
}

#quotesBtn {
    width: 20%;
}

#randomBtn,
#resetBtn,
#quotesBtn {
    background-color: #7cc4a4;
    color: #f2feff;
    border: 1px solid #f2feff;
    margin-top: 20px;
}

#randomBtn:hover, 
#quotesBtn:hover {
    background-color: #299cab;
}

#resetBtn:hover {
    background-color: #fc7844;
}

@media screen and (max-width: 1200px) {

    #randomBtn {
        width: 50%;
    }

}

@media screen and (max-width: 992px) {
    
    #randomBtn {
        width: 60%;
    }

    #quotesBtn {
        width: 30%;
    }

}

@media screen and (max-width: 768px) {

    #randomBtn {
        width: 80%;
    }

    #quotesBtn {
        width: 35%;
    }

}

@media screen and (max-width: 535px) {

    #quotesBtn {
        width: 55%;
    }

}

@media screen and (max-width: 355px) {

    #quotesBtn {
        width: 75%;
    }

}

/* --------------------------------------------------------------------------Quotes generator section */

.main-quotes {
    margin-top: 15px;
    margin-bottom: 50px;
    min-height: 30px;
    max-height: 30px;
}

/* --------------------------------------------------------------------------Background videos section */

.background-videos { /*Code taken from W3Schools, 100% width and height to cover the entire window*/
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

@media screen and (max-width: 576px) {

    .background-videos, .main-background {
        display: none;
    }

}


/* --------------------------------------------------------------------------How To Use section */

.main-howto-small {
    display: none;
}

.main-howto-big {
    display: block;
    margin-top: 40px;
    width: 55%;
}

.col-1, .col-2 {
    padding: 15px 0;
}

.col-1 {
    color: #f2feff;
    text-align: left;
    width: 70%;
}

.col-2 {
    color: #f2feff;
    width: 70%;
}

.col-2 .fa-tree, 
.col-2 .fa-home {
    border: 2px solid #f2feff;
    /* Got help from W3Schools' CSS Borders on how to create soft and round edged borders */
    border-radius: 16px;
    /* /Got help from W3Schools' CSS Borders on how to create soft and round edged borders */
    margin: 5px;
    font-size: 40px;
}

.col-2 .fa-tree {
    padding: 10px 17px;
}

.col-2 .fa-home {
    padding: 10px;
}

.col-2 .fa-volume-down, 
.col-2 .fa-volume-up, 
.col-2 .fa-step-backward, 
.col-2 .fa-step-forward {
    font-size: 30px;
    margin: 0 30px;
}

.col-2 .fa-headphones-alt {
    font-size: 40px;
}

.demo-bg-btn {
    width: 70%;
} 

.demo-bg-btn, 
.demo-reset-btn,
.demo-quote-btn {
    background-color: #7cc4a4;
    color: #f2feff;
    border: 1px solid #f2feff;
}

.demo-bg-btn:hover, 
.demo-quote-btn:hover {
    background-color: #299cab;
    color: #f2feff;
}

.demo-reset-btn:hover {
    background-color: #fc7844;
    color: #f2feff;
}

.fa-heart {
    color: red;
    padding-left: 35px;
}

@media screen and (max-width: 1800px) {

    .demo-bg-btn {
        width: 90%;
    }

}

@media screen and (max-width: 1405px) {

    .demo-bg-btn {
        width: 100%;
    }

}

@media screen and (max-width: 1270px) {

    .main-howto-big {
        display: none;
    }

    .main-howto-small {
        display: block;
        margin-top: 40px;
        width: 55%;
        text-align: center;
    }

    .col-1, .col-2 {
        padding: 10px;
    }

    .col-1 {
        text-align: center;
    }

    .col-2 {
        width: 50%;
        text-align: center;
        margin-left: 25%;
    }

    .demo-bg-btn {
        width: 90%;
    }

}

@media screen and (max-width: 980px) {

    .col-2 {
        width: 70%;
        text-align: center;
        margin-left: 15%;
    }

    .demo-bg-btn {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .demo-bg-btn {
        width: 110%;
    }

}

@media screen and (max-width: 625px) {

    .col-2 {
        width: 150%;
        text-align: center;
        margin-left: -25%;
    }

    .demo-bg-btn {
        width: 60%;
    }

}

@media screen and (max-width: 495px) {

    .demo-bg-btn {
        width: 100%;
    }

}

/* --------------------------------------------------------------------------About section */

.main-about {
    text-align: left;
    color: #f2feff;
    margin-top: 35px;
    width: 35%;
}

.about-link {
    text-decoration: none;
    color: #0388fc;
}

@media screen and (max-width: 992px) {

    .main-about {
        width: 45%;
    }

}

@media screen and (max-width: 768px) {

    .main-about {
        width: 55%;
    }

}

@media screen and (max-width: 576px) {

    .main-about {
        width: 65%;
    }

}

@media screen and (max-width: 450px) {

    .main-about {
        width: 75%;
    }

}

@media screen and (max-width: 350px) {

    .main-about {
        width: 85%;
    }

}

/* --------------------------------------------------------------------------Contact section */

#name, #email, #message, #uploadfile {
    background-color: transparent;
    color: #f2feff;
    border: 2px solid #f2feff;
    margin: 15px;
    width: 100%;
}

.contact-btn {
    background-color: transparent;
    color: #f2feff;
    border: 1px solid #f2feff;
}

.contact-btn:hover {
    background-color: #299cab;
    color: #f2feff;
}

/* Placeholder code taken from W3Schools */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f2feff;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f2feff;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #f2feff;
}

.form-control::placeholder {
    color: #f2feff;
}

/* Change autocomplete styles in WebKit, code taken from CSS-tricks.com */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 3px solid #f2feff;
  -webkit-text-fill-color: #f2feff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (max-width: 768px) {

    #name,
    #message, 
    #uploadfile {
        width: 95%;
    }

    #email {
        width: 90%;
    }

}

@media screen and (max-width: 400px) {

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 90%;
    }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 90%;
    }
      
    ::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 90%;
    }
    
    .form-control::placeholder {
        font-size: 90%;
    }

}

/* --------------------------------------------------------------------------404 error section */

.error-bg-img {
    background: url(../images/404-image.webp) center center no-repeat;
    background: url(../images/404-image.jpg) center center no-repeat;
    background-size: cover;
}

.error-main {
    text-align: center;
}

.error-header {
    font-size: 200px;
}

.error-text {
    font-size: 100px;
    padding-bottom: 30px;
}

.error-btn {
    background-color: #7cc4a4;
    color: #f2feff;
    border: 1px solid #f2feff;
    text-align: center;
    height: 40px;
}

.error-home {
    text-decoration: none;
    font-size: 18px;
}