@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Reenie+Beanie&display=swap');

/* --------------------------------------------------------------------------Body structure */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* --------------------------------------------------------------------------Body font styles */

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Reenie Beanie', cursive;
}

/* --------------------------------------------------------------------------Body color styles */

body {
    background-color: #7cc4a4;
}

h1, h2, h3, h4, h5, h6, p {
    color: #f2feff;
}


h1, p {
    text-align: center;
}

h1, p {
    font-size: 100px;
}